body
  font-family: 'Open Sans', sans-serif
.h-f-t
  @extend .hidden-sm
  @extend .hidden-xs
.v-f-t
  @extend .visible-sm
  @extend .visible-xs
.ellipsis
  +ellipsis
.uppercase
  text-transform: uppercase
.link
  cursor: pointer
.hide
  display: none
.social-login
  margin: 10px 6px
  display: block
  padding: 5px
  text-align: center
  color: white
  border-radius: 3px
  &:hover
    color: white
  &.google
    background: #D73D32
  &.facebook
    background: #365899
.main-container
  margin-top: $grid-gutter-width/2
  margin-bottom: $grid-gutter-width/2
.flash-message-block
  position: absolute
  z-index: 1000
  width: 100%
  padding: 10px
  +respond-to(desk)
    width: 50%
    left: 25%
