// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

$skinMainFirstColor: #00796B!default;
$skinMainSecondColor: #8BC34A!default;
$skinBorderWindowColor: #ffffff!default;
$body-bg: #e8eaf6;
@import "wigu/active_admin_theme";

html, body.active_admin {
  background: $body-bg;
}

.row, .status_tag{
  &.red{
    background: #F28F8F;
  }
  &.green{
    background: #8FF2A5;
  }
  &.blue{
    background: #8FB0F2;
  }
  &.orange{
    background: #F2D18F;
  }
  &.gray{
    background: gry;
  }
}
